<!-- <div class="card" style="padding-left: 40%;padding-right: 40%;padding-top: 10%;">
    <h4 class="card-header">Login</h4>
    <div class="card-body">
        <form #loginForm="ngForm" (ngSubmit)="onFormSubmit(loginForm)">
            <div class="form-group">
                <label for="username">Username</label>
                <input type='text' name='username' ngModel class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" ngModel class="form-control" />
            </div>
            <div class="form-group row" style="padding: 5px;">
                <label for="inputBack" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <div class="col-sm-2"><button type="submit" class="btn btn-primary">SAVE</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div> -->

<section class="vh-100" style="background-color: #329fc3;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-90">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
                
              <h3 class="mb-5">Sign in</h3>
              <form #loginForm="ngForm" (ngSubmit)="onFormSubmit(loginForm)">
              <div class="form-outline mb-4">
                <label for="username">UserName</label>
                <input type='text' name='username' ngModel class="form-control" style="border-color: #0dcaf0;border-width: 2px;">
              </div>
  
              <div class="form-outline mb-4">
                <label for="password">Password</label>
                <input type="password" name="password" ngModel class="form-control"  style="border-color: #0dcaf0;border-width: 2px;"/>
              </div>
  
              <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>