<div class="form-group row" style="padding: 5px;">
    <label for="address" class="col-sm-2 col-form-label input-group-text">ADDRESS:</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="address" placeholder="address" value={{custAddress}}>
    </div>
</div>
<div class="form-group row" style="padding: 5px;">
    <label for="state" class="col-sm-2 col-form-label input-group-text">STATE:</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="state" placeholder="state" value={{custState}}>
    </div>
</div>
<div class="form-group row" style="padding: 5px;">
    <label for="city" class="col-sm-2 col-form-label input-group-text">CITY:</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="city" placeholder="city" value={{custCity}}>
    </div>
</div>
<div class="form-group row" style="padding: 5px;">
    <label for="pincode" class="col-sm-2 col-form-label input-group-text">PIN-CODE:</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="pincode" placeholder="pincode" value={{custPincode}}>
    </div>
</div>